*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: white;
}
html, body{
    width: 100%;
    height: 100%;
    background-image: url('1261291.png');
    background-position: center;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height: 68%;
    width: 30%;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
    backdrop-filter: blur(20px);
}
#container .input-group{
    margin: 20px;
}
.input-group input{
    width: 90%;
    height: 30px;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    background: transparent;
    border-radius: 15px;
    padding: 10px 45px 10px 20px;
}
.input-group textarea{
    width: 90%;
    background: transparent;
    border-radius: 15px;
    padding: 5px 0 10px 0;
}
input::placeholder{
    color: white;
    padding: 45px 10px;
}
textarea::placeholder{
    color: white;
    padding: 20px;
}
button{
    width: 70%;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
    background: transparent;
    font-size: 17px;
    border-radius: 50px;
}
.input-group span{
    color: red;
}
